<?xml version="1.0" encoding="utf-8" ?>
<c2eventsheet>
    <!-- TUSONIC -->
    <name>Menu</name>
    <events>
        <event-block sid="966852232961473">
            <conditions>
                <condition id="-2" name="On start of layout" sid="296393986754954" type="System" />
            </conditions>
            <actions>
                <action id="0" name="Game ready" sid="392826959439725" type="AirConsole2" />
            </actions>
        </event-block>
        <include>AirConsole</include>
        <event-block sid="377504197893586">
            <conditions>
                <condition id="14" name="On tap" sid="651544823369899" type="Touch" />
            </conditions>
            <actions>
                <action id="-2" name="Go to layout" sid="591334529631464" type="System">
                    <param id="0" name="Layout">Select</param>
                </action>
            </actions>
        </event-block>
        <event-block sid="996152894310818">
            <conditions>
                <condition id="0" name="On key pressed" sid="470315290624319" type="Keyboard">
                    <param id="0" name="Key">32 (Space)</param>
                </condition>
            </conditions>
            <actions>
                <action id="-2" name="Go to layout" sid="783011832764800" type="System">
                    <param id="0" name="Layout">Select</param>
                </action>
            </actions>
        </event-block>
        <event-block sid="499269312610380">
            <conditions>
                <condition id="0" name="On key pressed" sid="259503022065088" type="Keyboard">
                    <param id="0" name="Key">87 (W)</param>
                </condition>
            </conditions>
            <actions>
                <action id="-2" name="Go to layout" sid="329720291432812" type="System">
                    <param id="0" name="Layout">Select</param>
                </action>
            </actions>
        </event-block>
        <event-block sid="941381414989228">
            <conditions>
                <condition id="0" name="On key pressed" sid="914316230621265" type="Keyboard">
                    <param id="0" name="Key">83 (S)</param>
                </condition>
            </conditions>
            <actions>
                <action id="-2" name="Go to layout" sid="241833966481804" type="System">
                    <param id="0" name="Layout">Select</param>
                </action>
            </actions>
        </event-block>
        <event-block sid="747202148211434">
            <conditions>
                <condition id="0" name="On key pressed" sid="564153112953960" type="Keyboard">
                    <param id="0" name="Key">65 (A)</param>
                </condition>
            </conditions>
            <actions>
                <action id="-2" name="Go to layout" sid="450905468112529" type="System">
                    <param id="0" name="Layout">Select</param>
                </action>
            </actions>
        </event-block>
        <event-block sid="717802929822397">
            <conditions>
                <condition id="0" name="On key pressed" sid="643400265223014" type="Keyboard">
                    <param id="0" name="Key">68 (D)</param>
                </condition>
            </conditions>
            <actions>
                <action id="-2" name="Go to layout" sid="859311168333290" type="System">
                    <param id="0" name="Layout">Select</param>
                </action>
            </actions>
        </event-block>
        <event-block sid="242941129388527">
            <conditions>
                <condition id="0" name="On key pressed" sid="356332659815834" type="Keyboard">
                    <param id="0" name="Key">66 (B)</param>
                </condition>
            </conditions>
            <actions>
                <action id="-2" name="Go to layout" sid="135033586432123" type="System">
                    <param id="0" name="Layout">Select</param>
                </action>
            </actions>
        </event-block>
        <event-block sid="716134082702289">
            <conditions>
                <condition id="6" name="On button pressed" sid="166692047879201" type="Gamepad">
                    <param id="0" name="Gamepad">0</param>
                    <param id="1" name="Button">0</param>
                </condition>
            </conditions>
            <actions>
                <action id="-2" name="Go to layout" sid="130359281262583" type="System">
                    <param id="0" name="Layout">Select</param>
                </action>
            </actions>
        </event-block>
        <event-block sid="773502191696880">
            <conditions>
                <condition id="6" name="On button pressed" sid="990413840200229" type="Gamepad">
                    <param id="0" name="Gamepad">0</param>
                    <param id="1" name="Button">1</param>
                </condition>
            </conditions>
            <actions>
                <action id="-2" name="Go to layout" sid="920975554030859" type="System">
                    <param id="0" name="Layout">Select</param>
                </action>
            </actions>
        </event-block>
        <event-block sid="210464839648577">
            <conditions>
                <condition id="6" name="On button pressed" sid="963992768982413" type="Gamepad">
                    <param id="0" name="Gamepad">0</param>
                    <param id="1" name="Button">2</param>
                </condition>
            </conditions>
            <actions>
                <action id="-2" name="Go to layout" sid="452119319356476" type="System">
                    <param id="0" name="Layout">Select</param>
                </action>
            </actions>
        </event-block>
        <event-block sid="305524670476448">
            <conditions>
                <condition id="6" name="On button pressed" sid="826618000813232" type="Gamepad">
                    <param id="0" name="Gamepad">0</param>
                    <param id="1" name="Button">3</param>
                </condition>
            </conditions>
            <actions>
                <action id="-2" name="Go to layout" sid="191018424795634" type="System">
                    <param id="0" name="Layout">Select</param>
                </action>
            </actions>
        </event-block>
        <event-block sid="236391942721694">
            <conditions>
                <condition id="6" name="On button pressed" sid="560766874689825" type="Gamepad">
                    <param id="0" name="Gamepad">0</param>
                    <param id="1" name="Button">9</param>
                </condition>
            </conditions>
            <actions>
                <action id="-2" name="Go to layout" sid="861721877268221" type="System">
                    <param id="0" name="Layout">Select</param>
                </action>
            </actions>
        </event-block>
        <event-block sid="523397180706530">
            <conditions>
                <condition id="7" name="On message is" sid="405447776686968" type="AirConsole2">
                    <param id="0" name="Property">&quot;message&quot;</param>
                    <param id="1" name="Property value">&quot;a&quot;</param>
                </condition>
            </conditions>
            <actions>
                <action id="-2" name="Go to layout" sid="939195182898677" type="System">
                    <param id="0" name="Layout">Select</param>
                </action>
            </actions>
        </event-block>
        <event-block sid="714362962187364">
            <conditions>
                <condition id="7" name="On message is" sid="300964039376365" type="AirConsole2">
                    <param id="0" name="Property">&quot;message&quot;</param>
                    <param id="1" name="Property value">&quot;b&quot;</param>
                </condition>
            </conditions>
            <actions>
                <action id="-2" name="Go to layout" sid="743539445704469" type="System">
                    <param id="0" name="Layout">Select</param>
                </action>
            </actions>
        </event-block>
    </events>
</c2eventsheet>
