html, body {
	overflow: hidden;
	margin: 0px;
	padding: 0px;
}

body {
	background-color: #222;
}

button {
	margin-bottom: 1px;;
	min-height: 45vh;
	min-width: 25vw;
	margin: 1%;
	border: 0;
	box-sizing: border-box;
	font-size: 40px;
	color: #FFFFFF;
	background-color: #333333;
	outline: none;
	cursor: pointer;
}

button:hover {
	background-color: #444444;
}

.kontener{
	display: flex;
}

.sterowanie{
	display: inline-flex;
	order:1;
	align-items: center;
}

.akcja{
	display: flex;
	flex-direction: column;
	order: 2;
	width: 50%;
	align-items: flex-end;
	justify-content: flex-end;
}

#l{

}

#r{

}

#a{

}

#b{

}
