html, body {
	overflow: hidden;
	margin: 0px;
	padding: 0px;
}

body {
	background-color: #222;
}

button {
	margin-bottom: 10px;;
	min-height: 45vh;
	min-width: 25vw;
	margin: 1%;
	border-radius: 50%;
	font-size: 40px;
	color: #FFFFFF;
	background-color: #333333;
	outline: none;
	cursor: pointer;
}

button:hover {
	background-color: #333333;
}

.kontener{
	display: flex;
}

.sterowanie{
	display: inline-flex;
	order:1;
	align-items: center;
	margin-left:2%;
}

.akcja{
	display: flex;
	flex-direction: column;
	order: 2;
	width: 50%;
	align-items: flex-end;
	justify-content: flex-end;
	margin-right: 2%;
	margin-top: 2%;
}

#l{
margin-right: 2%;
}

#r{

}

#a{
margin-bottom: 2%;
}

#b{

}
